.notification {
  position: absolute;
  bottom:20px;
  right:-12px;
  background:orange;
  color: #FFF;
  border-radius: 50px;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
