<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="">Angular Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="width: 100%">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/blogs">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-blog">Create</a>
        </li>
        <li class="nav-item pull-right" style="margin-inline-start: auto; position: relative;">
          <div class="notification">{{ blogService.readingList.length }}</div>
          <i class="fas fa-book mt-3"
            style="color: rgba(255,255,255,.90); cursor: pointer;"
            (click)="router.navigate(['/reading-list'])"></i>
        </li>
      </ul>
    </div>
  </div>
</nav>
