
<div class="row mt-3">
  <div class="col-12" *ngFor="let item of blogs; let i = index">
    <div class="card mb-3 mt-3">
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">{{ item.content }}</p>
        <p class="card-text"><small class="text-muted">{{ item.lastUpdated }}</small></p>
        <a class="btn"
          [ngClass]="readingList.includes(item.id)? 'btn-outline-dark' : 'btn-dark'"
          (click)="addOrRemoveFromReadingList(item.id)">{{readingList.includes(item.id)? 'Remove bookmark' : 'Bookmark'}}</a>
        <likes
          [liked]="item.liked"
          [likesCount]="item.likes"
          (action)="manageLikes($event, i)"
          ></likes>
      </div>
    </div>
  </div>
</div>

